### The Sparks Foundation || GRIP JUNE 21

###  DataScience and Business Analytics Intern 

###  Task-3: Exploratory Data Analysis - Retail (Level-Beginner)

###  Author:  Nivetha

### ..........................................................Importing the necessary Libraries.................................................................

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### ...................................................Reading the SampleSuperstore Dataset..................................................

In [ ]:
Data=pd.read_csv(r'C:\Users\NIVETHA\Downloads\SampleSuperstore(1).csv')

In [ ]:
Data.head(7)

In [ ]:
Data.info()

In [ ]:
Data.shape             # checking shape of the whole dataset

### ..............................................................Identify the Empty cells.......................................................................

In [ ]:
Data.isnull().sum()   # checking Null values

#### Here All the columns variable are non-null

## .....................................................Cleaning the Data................................................................

### Is there any Duplicate Record in this dataset? if yes,then remove the duplicate records

In [ ]:
# checking total no of duplicates
 
Data.duplicated().sum()

In [ ]:
# Checking which 17 records are duplicated

Data[Data.duplicated()]

In [ ]:
# Removing the duplicated record from dataset

Data.drop_duplicates(inplace=True)

In [ ]:
# Again checking total no of duplicates

Data.duplicated().sum()

In [ ]:
# checking shape again after removing 17 duplicated rows

Data.shape

In [ ]:
Data['Country'].nunique()

#### We should drop the country, postal code columns. Because country,postal codes are of no use. so It will not affect further analysis

In [ ]:
# removing the country,postal code

del Data['Country']
del Data['Postal Code']

In [ ]:
# checking the columns again

Data.columns

In [ ]:
Data.describe()

## ....................................................Data Visualization......................................................

In [ ]:
# compare linear relationship between attributes using correlation coefficient generated using heatmap

sns.heatmap(Data.corr(),cmap='viridis',annot=True)
plt.show()

In [ ]:
# total sales

tot=round(sum(Data['Sales']),2)
print('Total sales',tot)

In [ ]:
# total quantity sold

sold=sum(Data['Quantity'])
print('Total Quantity sold',sold)

In [ ]:
# total profit

pf=round(sum(Data['Profit']),2)
print('Total profit',pf)

#### Total Sales                      = 2296195.59
#### Total Quantity Sold        = 37820
#### Total Profit                      = 286241.42

In [ ]:
sns.pairplot(Data)                                           # pairplot takes only numerical values

In [ ]:
fig,ax=plt.subplots(figsize=(10,6))
ax.scatter(Data['Sales'],Data['Profit'],marker=".")
ax.set_xlabel('Sales')
ax.set_ylabel('Profit')
plt.title('Scatterplot')
plt.show()

### Sub-category region wise

In [ ]:
plt.figure(figsize=(20,20))
sns.countplot(x="Sub-Category", hue="Region", data=Data)
plt.title('Sub-Category region wise')
plt.show()

### Discount region wise

In [ ]:
plt.figure(figsize=(20,20))
sns.countplot(x="Discount", hue="Region", data=Data)
plt.title('Discount region wise')
plt.show()

In [ ]:
Data.hist(bins=50,figsize=(20,15))                           
plt.show()

In [ ]:
#value counts for ship mode
Data['Ship Mode'].value_counts()

In [ ]:
sns.countplot(x=Data['Ship Mode'])

In [ ]:
Data['Segment'].value_counts()

In [ ]:
sns.countplot(x='Segment',data=Data,palette='rainbow')
plt.title('Segment')

In [ ]:
Data['Category'].value_counts()                                # counts the value of category

In [ ]:
sns.countplot(x='Category',data=Data,palette='tab10')         # category visualization using countplot
plt.title('Category')

In [ ]:
Data['Sub-Category'].value_counts()                         # counts the value of sub-category

### Five highest sales displayed here

In [ ]:
s=Data.groupby("State")[["Sales","Profit","Discount"]].sum().sort_values(by='Sales',ascending=False)
s.head(5)

### First five highest discount diplayed here

In [ ]:
p=Data.groupby("State")[["Sales","Profit","Discount"]].sum().sort_values(by='Discount',ascending=False)
p.head(5)

### Profit vs Discount

In [ ]:
sns.lineplot(x='Discount',y='Profit',data=Data,color='Blue')
plt.title('Profit vs Discount')

### Observation:
     
#### ✅ Here profit and discount picture shows us clearly, that is "High Discount" ultimately leads to loss
#### ✅less discount products get good profit comparatively high discount

## .......................................................THANK YOU..................................................................